{
    "swagger": "2.0",
    "info": {
        "description": "Endpoints of the Routee API",
        "version": "1.0",
        "title": "Routee API",
        "contact": {
            "name": "Routee API",
            "url": "www.routee.net",
            "email": "info@routee.net"
        },
        "license": {
            "name": "license"
        }
    },
    "host": "connect.routee.net",
    "basePath": "/",
    "tags": [
        {
            "name": "Messaging API",
            "description": "API resources for sending SMS"
        },
        {
            "name": "Messaging Campaign API",
            "description": "API resources for sending multiple messages or campaigns"
        },
        {
            "name": "Quiet Hours API",
            "description": "API resources to get which countries are enabled for the quiet hours feature"
        },
        {
            "name": "SMS Tracking API",
            "description": "API resources for trackings your message consumption"
        },
        {
            "name": "Lookup API",
            "description": "API resources for the Lookup service"
        },
        {
            "name": "Two Step Verification API",
            "description": "API resources for the Two Step Verification service"
        },
        {
            "name": "Contacts API",
            "description": "API resources for contacts"
        },
        {
            "name": "Contact Groups API",
            "description": "API resources for managing contact groups and segments"
        },
        {
            "name": "Contact Labels Management API",
            "description": "API resources for managing contact labels"
        },
        {
            "name": "Contacts Blacklist Management API",
            "description": "API resources for handling blacklists for your contacts"
        },
        {
            "name": "Account API",
            "description": "API resources for managing your Routee accounts"
        },
        {
            "name": "Reports API",
            "description": "API resources for getting reports for all Routee services"
        },
        {
            "name": "System API",
            "description": "API resources for system"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/2step": {
            "post": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "create verification",
                "description": "creates a new verification and sends the message to the recipient",
                "operationId": "verifyUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VerificationDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The new verification",
                        "schema": {
                            "$ref": "#/definitions/VerificationStatusDto"
                        }
                    }
                }
            }
        },
        "/2step/reports": {
            "get": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report (per account)",
                "description": "retrieves the report for the logged in account",
                "operationId": "reportUsingGET_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "head": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report (per account)",
                "description": "retrieves the report for the logged in account",
                "operationId": "reportUsingHEAD_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report (per account)",
                "description": "retrieves the report for the logged in account",
                "operationId": "reportUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report (per account)",
                "description": "retrieves the report for the logged in account",
                "operationId": "reportUsingPUT_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report (per account)",
                "description": "retrieves the report for the logged in account",
                "operationId": "reportUsingDELETE_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "options": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report (per account)",
                "description": "retrieves the report for the logged in account",
                "operationId": "reportUsingOPTIONS_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report (per account)",
                "description": "retrieves the report for the logged in account",
                "operationId": "reportUsingPATCH_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            }
        },
        "/2step/reports/applications/{applicationId}": {
            "get": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report",
                "description": "retrieves the report for a specific application",
                "operationId": "reportUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "applicationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "head": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report",
                "description": "retrieves the report for a specific application",
                "operationId": "reportUsingHEAD",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "applicationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report",
                "description": "retrieves the report for a specific application",
                "operationId": "reportUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "applicationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report",
                "description": "retrieves the report for a specific application",
                "operationId": "reportUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "applicationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report",
                "description": "retrieves the report for a specific application",
                "operationId": "reportUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "applicationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "options": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report",
                "description": "retrieves the report for a specific application",
                "operationId": "reportUsingOPTIONS",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "applicationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "Twostep Report",
                "description": "retrieves the report for a specific application",
                "operationId": "reportUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "applicationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TwoStepReportDto"
                        }
                    }
                }
            }
        },
        "/2step/{trackingId}": {
            "get": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "verification status",
                "description": "Retrieves the status of an existing verification",
                "operationId": "statusUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "trackingId",
                        "in": "path",
                        "description": "trackingId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The status of the verification",
                        "schema": {
                            "$ref": "#/definitions/VerificationStatusDto"
                        }
                    },
                    "404": {
                        "description": "In the verification with the given id is not found",
                        "schema": {
                            "$ref": "#/definitions/VerificationNotFoundServiceException"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "verify answer",
                "description": "checks the answer to complete the verification proccess",
                "operationId": "confirmUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "trackingId",
                        "in": "path",
                        "description": "trackingId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "answer",
                        "in": "query",
                        "description": "answer",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The new status of the verification",
                        "schema": {
                            "$ref": "#/definitions/VerificationStatusDto"
                        }
                    },
                    "400": {
                        "description": "In case the provided answer is wrong",
                        "schema": {
                            "$ref": "#/definitions/WrongAnswerServiceException"
                        }
                    },
                    "404": {
                        "description": "In the verification with the given id is not found",
                        "schema": {
                            "$ref": "#/definitions/VerificationNotFoundServiceException"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Two Step Verification API"
                ],
                "summary": "invalidate verification",
                "description": "invalidates an in progress verification",
                "operationId": "invalidateUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "trackingId",
                        "in": "path",
                        "description": "trackingId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The new status of the verification",
                        "schema": {
                            "$ref": "#/definitions/VerificationStatusDto"
                        }
                    },
                    "400": {
                        "description": "In the verification is not in pending status",
                        "schema": {
                            "$ref": "#/definitions/InvalidVerificationStatusServiceException"
                        }
                    },
                    "404": {
                        "description": "In the verification with the given id is not found",
                        "schema": {
                            "$ref": "#/definitions/VerificationNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/accounts/me/balance": {
            "get": {
                "tags": [
                    "Account API"
                ],
                "summary": "account balance",
                "description": "Retrieves the balance for the currently logged account",
                "operationId": "getBalanceUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "The balance of the current account",
                        "schema": {
                            "$ref": "#/definitions/BalanceDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/UserNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/accounts/me/banks": {
            "get": {
                "tags": [
                    "Account API"
                ],
                "summary": "bank accounts",
                "description": "Retrieves the available bank accounts for the account",
                "operationId": "getBanksUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "The balance of the current account",
                        "schema": {
                            "$ref": "#/definitions/PricingEntityDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/UserNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/accounts/me/transactions": {
            "get": {
                "tags": [
                    "Account API"
                ],
                "summary": "get transactions",
                "description": "Retrieve all transactions of the logged in master account.",
                "operationId": "getTransactionsUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "from",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "to",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The transactions of the master account",
                        "schema": {
                            "$ref": "#/definitions/TransactionDto"
                        }
                    }
                }
            }
        },
        "/campaigns/{trackingId}": {
            "get": {
                "tags": [
                    "Messaging Campaign API"
                ],
                "summary": "Campaign",
                "description": "Returns a campaign",
                "operationId": "getCampaignUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "trackingId",
                        "in": "path",
                        "description": "trackingId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The campaign",
                        "schema": {
                            "$ref": "#/definitions/CampaignDto"
                        }
                    },
                    "404": {
                        "description": "In case the campaign was not found"
                    }
                }
            }
        },
        "/contacts/labels/my": {
            "get": {
                "tags": [
                    "Contact Labels Management API"
                ],
                "summary": "All contact fields for the account of the user who performed the request",
                "description": "Returns all fields, default and custom. It is map with the field name as key and the field data type as value",
                "operationId": "getAllUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "The fields of the account",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Contact Labels Management API"
                ],
                "summary": "Creates contact fields definitions on the account that the user performed the request",
                "description": "Returns all newly created field definitions. It is a collection, where each entry contains the field name and the field data type as properties",
                "operationId": "createUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "fieldDefinitions",
                        "description": "fieldDefinitions",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LabelDefinitionDto"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The newly created field definitions for the current account",
                        "schema": {
                            "$ref": "#/definitions/LabelDefinitionDto"
                        }
                    },
                    "400": {
                        "description": "Duplicate field name found within the request",
                        "schema": {
                            "$ref": "#/definitions/DuplicateCustomLabelNameServiceException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    },
                    "409": {
                        "description": "Field Definition already exists",
                        "schema": {
                            "$ref": "#/definitions/FieldDefinitionAlreadyExistsServiceException"
                        }
                    }
                }
            }
        },
        "/contacts/my": {
            "get": {
                "tags": [
                    "Contacts API"
                ],
                "summary": "My contacts based on pagination criteria",
                "description": "Retrieves the contacts of the current account",
                "operationId": "getMyUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "countTotal",
                        "in": "query",
                        "description": "countTotal",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The group of contacts with pagination information",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Contacts API"
                ],
                "summary": "Create a new contact",
                "description": "Creates a new contact associated with the account of the current user",
                "operationId": "createMyUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "contactDTO",
                        "description": "contactDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The details of the newly created contact",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "400": {
                        "description": "Custom fields are invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidCustomFieldsServiceException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    },
                    "409": {
                        "description": "Some Custom fields share the same name",
                        "schema": {
                            "$ref": "#/definitions/DuplicateCustomFieldServiceException"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contacts API"
                ],
                "summary": "Delete multiple contacts",
                "description": "Deletes multiple contacts of the current user",
                "operationId": "deleteMultipleUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "contacts",
                        "description": "contacts",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ContactDto"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A set with the deleted contact ids",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    },
                    "500": {
                        "description": "Contact was not deleted",
                        "schema": {
                            "$ref": "#/definitions/ContactNotDeletedServiceException"
                        }
                    }
                }
            }
        },
        "/contacts/my/blacklist/{serviceName}": {
            "get": {
                "tags": [
                    "Contacts Blacklist Management API"
                ],
                "summary": "Gets all the contacts which are blacklisted for the specified service",
                "description": "Gets a collection of contacts",
                "operationId": "getBlacklistUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "serviceName",
                        "in": "path",
                        "description": "serviceName",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Sms",
                            "TwoStep",
                            "Audio",
                            "Lookup"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The collection of blacklisted contacts",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Contacts Blacklist Management API"
                ],
                "summary": "Add multiple contacts to the blacklist of a specific service",
                "description": "Adds contacts in the blacklist",
                "operationId": "addToBlacklistUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "contactDtos",
                        "description": "contactDtos",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ContactDto"
                            }
                        }
                    },
                    {
                        "name": "serviceName",
                        "in": "path",
                        "description": "serviceName",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Sms",
                            "TwoStep",
                            "Audio",
                            "Lookup"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The details of the deleted contact",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Contact is not found",
                        "schema": {
                            "$ref": "#/definitions/ContactNotFoundServiceException"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contacts Blacklist Management API"
                ],
                "summary": "Remove one or more contacts from the blacklist of a specific service",
                "description": "Removes the contacts from the blacklist",
                "operationId": "removeMultipleFromBlacklistUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "contactDtos",
                        "description": "contactDtos",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ContactDto"
                            }
                        }
                    },
                    {
                        "name": "serviceName",
                        "in": "path",
                        "description": "serviceName",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Sms",
                            "TwoStep",
                            "Audio",
                            "Lookup"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The number of the updated contact",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Contact is not found",
                        "schema": {
                            "$ref": "#/definitions/ContactNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/contacts/my/blacklist/{serviceName}/groups": {
            "delete": {
                "tags": [
                    "Contacts Blacklist Management API"
                ],
                "summary": "Removes contacts from the blacklist of a specific service that belong to the given groups",
                "description": "Removes contacts from the blacklist",
                "operationId": "removeFromBlacklistByGroupsUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "groups",
                        "description": "groups",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "serviceName",
                        "in": "path",
                        "description": "serviceName",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Sms",
                            "TwoStep",
                            "Audio",
                            "Lookup"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The number of the affected contacts",
                        "schema": {
                            "$ref": "#/definitions/NumericUpdateResultDto"
                        }
                    },
                    "401": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/contacts/my/mobile": {
            "head": {
                "tags": [
                    "Contacts API"
                ],
                "summary": "Mobile availability",
                "description": "Determines whether a contact with the provided mobile exists",
                "operationId": "existsByMobileUsingHEAD",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "value",
                        "in": "query",
                        "description": "value",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If a contact with the mobile exists"
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/contacts/my/{id}": {
            "get": {
                "tags": [
                    "Contacts API"
                ],
                "summary": "One of my contacts based on the contact's id",
                "description": "Retrieved one of the contacts of the current account",
                "operationId": "getOneUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved contact",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Contacts API"
                ],
                "summary": "Update contact based on id",
                "description": "Updates a contact of the current user",
                "operationId": "updateMyUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "contactDTO",
                        "description": "contactDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The details of the updated contact",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "400": {
                        "description": "Custom labels are invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidCustomFieldsServiceException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    },
                    "409": {
                        "description": "Some Custom labels share the same name",
                        "schema": {
                            "$ref": "#/definitions/DuplicateCustomFieldServiceException"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contacts API"
                ],
                "summary": "Delete a contact based on id",
                "description": "Deletes a contact of the current user",
                "operationId": "deleteMyUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The details of the deleted contact",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    },
                    "500": {
                        "description": "Contact was not deleted",
                        "schema": {
                            "$ref": "#/definitions/ContactNotDeletedServiceException"
                        }
                    }
                }
            }
        },
        "/groups/my": {
            "get": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "All of the account's contact groups",
                "description": "Retrieves the available group tags of an account",
                "operationId": "getAllMyUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "The contact groups and the number of contacts in each group",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Adds a new contact group tag to the account",
                "description": "Creates and adds a new group tag to the associated account",
                "operationId": "createGroupUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "groupCreationDto",
                        "description": "groupCreationDto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupCreationDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The group has been successfully created",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "400": {
                        "description": "Search filters are invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidSearchFiltersServiceException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    },
                    "409": {
                        "description": "The contact group already exists",
                        "schema": {
                            "$ref": "#/definitions/ContactListAlreadyExistsServiceException"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Deletes a contact group",
                "description": "Based on a url parameter this call either deletes the contact group tag or both the contact group tag and the contacts associated with it",
                "operationId": "deleteGroupsUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "tags",
                        "description": "tags",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "deleteContacts",
                        "in": "query",
                        "description": "deleteContacts",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The group has been successfully removed",
                        "schema": {
                            "$ref": "#/definitions/GroupDeleteResponseDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/groups/my/difference": {
            "post": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Creates a new group to the account from the difference of a group of existing groups",
                "description": "Creates a new group by the difference of the given existing groups",
                "operationId": "createGroupFromDifferenceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "groupDifferenceDto",
                        "description": "groupDifferenceDto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupMergeDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The group has been successfully created",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "401": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "One of the groups was not found",
                        "schema": {
                            "$ref": "#/definitions/ContactListNotFoundServiceException"
                        }
                    },
                    "409": {
                        "description": "The contact group already exists",
                        "schema": {
                            "$ref": "#/definitions/ContactListAlreadyExistsServiceException"
                        }
                    }
                }
            }
        },
        "/groups/my/merge": {
            "post": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Creates a new group to the account from the merge of a group of existing groups",
                "description": "Creates a new group by merging given existing groups",
                "operationId": "createGroupFromUnionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "groupMergeDto",
                        "description": "groupMergeDto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupMergeDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The group has been successfully merged",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "401": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "One of the groups was not found",
                        "schema": {
                            "$ref": "#/definitions/ContactListNotFoundServiceException"
                        }
                    },
                    "409": {
                        "description": "The contact group already exists",
                        "schema": {
                            "$ref": "#/definitions/ContactListAlreadyExistsServiceException"
                        }
                    }
                }
            }
        },
        "/groups/my/page": {
            "get": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "A page of the account's contact groups",
                "description": "Retrieves a page of the available group tags of an account",
                "operationId": "getMyPagedUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "withCounts",
                        "in": "query",
                        "description": "withCounts",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The contact groups and the number of contacts in each group",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/groups/my/{name}": {
            "get": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Fetch a contact group",
                "description": "This endpoint fetches the given contact list with the number of contacts in it",
                "operationId": "getOneUsingGET_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The group has been successfully removed",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/groups/my/{name}/contacts": {
            "get": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Gets the contacts of a contact group",
                "description": "Retrieves all the contacts marked by the specified group tag",
                "operationId": "getGroupContactsUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The contacts have been fetched successfully",
                        "schema": {
                            "$ref": "#/definitions/ContactDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Adds contacts to a contact group",
                "description": "Adds a set of contacts to the specified contact group",
                "operationId": "addContactsToGroupUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "contacts",
                        "description": "contacts",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The contacts have been updated",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "400": {
                        "description": "Contact id is not valid",
                        "schema": {
                            "$ref": "#/definitions/InvalidContactsServiceException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Account is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contact Groups API"
                ],
                "summary": "Removes the contacts from the group",
                "description": "Removes the contacts",
                "operationId": "removeContactsUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "contactIds",
                        "description": "contactIds",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The contacts have been removed from the group",
                        "schema": {
                            "$ref": "#/definitions/ContactGroupDto"
                        }
                    },
                    "400": {
                        "description": "Contacts limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/ContactsLimitExceededServiceException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "Contact id is not valid",
                        "schema": {
                            "$ref": "#/definitions/InvalidContactsServiceException"
                        }
                    }
                }
            }
        },
        "/lookup": {
            "post": {
                "tags": [
                    "Lookup API"
                ],
                "summary": "perform lookup",
                "description": "Performs a single lookup",
                "operationId": "performSingleLookupHLRUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "lookupRequest",
                        "description": "lookupRequest",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LookupRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Lookup info",
                        "schema": {
                            "$ref": "#/definitions/LookupResponseDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/UserNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/lookup/tracking": {
            "post": {
                "tags": [
                    "Lookup API"
                ],
                "summary": "LookupTracking",
                "description": "Returns lookup tracking data",
                "operationId": "searchLookupTrackingUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "dateStart",
                        "in": "query",
                        "description": "dateStart",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateEnd",
                        "in": "query",
                        "description": "dateEnd",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "filters",
                        "description": "filters",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SearchFilterDto"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The lookup tracking",
                        "schema": {
                            "$ref": "#/definitions/LookupResponseDto"
                        }
                    }
                }
            }
        },
        "/lookup/{lookupId}": {
            "get": {
                "tags": [
                    "Lookup API"
                ],
                "summary": "lookup delivery report",
                "description": "Returns the delivery report of a single lookup specified by the lookupId",
                "operationId": "getLookupTrackingUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "lookupId",
                        "in": "path",
                        "description": "lookupId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Lookup info",
                        "schema": {
                            "$ref": "#/definitions/LookupResponseDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/UserNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/latency": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The sms latency report for a given account",
                "description": "Aggregates the sms count per life span for the specified date range",
                "operationId": "getMySmsLatencyReportUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "startDate",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "endDate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The sms latency report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/SmsLatencyReportDto"
                        }
                    },
                    "400": {
                        "description": "Date range is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidDateRangeException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/latency/perCampaign": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The sms latency report for a given campaign id",
                "description": "Aggregates the sms count per life span for the specified date range and campaign id",
                "operationId": "getMySmsLatencyReportForCampaignIdUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "query",
                        "description": "campaignId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The sms latency report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/SmsLatencyReportDto"
                        }
                    },
                    "400": {
                        "description": "Date range is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidDateRangeException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/latency/perCountry": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The sms latency report for a given account",
                "description": "Aggregates the sms count per life span for the specified date range",
                "operationId": "getMySmsLatencyReportForCountryUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "countryCode",
                        "in": "query",
                        "description": "countryCode",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "startDate",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "endDate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The sms latency report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/SmsLatencyReportDto"
                        }
                    },
                    "400": {
                        "description": "Date range is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidDateRangeException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/latency/perMccMnc": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The sms latency report for a given account",
                "description": "Aggregates the sms count per life span for the specified date range",
                "operationId": "getMySmsLatencyReportForMccMncUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "mcc",
                        "in": "query",
                        "description": "mcc",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mnc",
                        "in": "query",
                        "description": "mnc",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "startDate",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "endDate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The sms latency report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/SmsLatencyReportDto"
                        }
                    },
                    "400": {
                        "description": "Date range is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidDateRangeException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/lookup/volPrice": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The volume and price report, grouped by date, for a given date range",
                "description": "Aggregates the lookup HLR counts and costs for the specified date range",
                "operationId": "getMyLookupVolPriceBreakdownReportUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "startDate",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "endDate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The volume and price report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/LookupBreakdownReportDto"
                        }
                    },
                    "400": {
                        "description": "Date range is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidDateRangeException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/volPrice": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The volume and price report for a given account",
                "description": "Aggregates the sms counts and costs for the specified date range",
                "operationId": "getMyVolumePriceReportsUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "startDate",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "endDate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/VolPriceStatisticReportDto"
                        }
                    },
                    "400": {
                        "description": "Date range is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidDateRangeException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/volPrice/perCampaign": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The volume and price report for a given campaign id",
                "description": "Aggregates the sms counts and costs for the specified date range for the campaign id",
                "operationId": "getMyVolumePriceReportsForCampaignIdUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "query",
                        "description": "campaignId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "offset",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/VolPriceStatisticReportDto"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/volPrice/perMcc": {
            "get": {
                "tags": [
                    "Reports API"
                ],
                "summary": "The volume and price report for a given account and a given country",
                "description": "Aggregates the sms counts and costs for the specified date range for the given country",
                "operationId": "getMyVolumePriceReportsForMccUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "mcc",
                        "in": "query",
                        "description": "mcc",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "startDate",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "endDate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The report for the current account ",
                        "schema": {
                            "$ref": "#/definitions/VolPriceStatisticReportDto"
                        }
                    },
                    "400": {
                        "description": "Date range is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidDateRangeException"
                        }
                    },
                    "403": {
                        "description": "User is not authenticated",
                        "schema": {
                            "$ref": "#/definitions/NotAuthenticatedServiceException"
                        }
                    },
                    "404": {
                        "description": "User is not found",
                        "schema": {
                            "$ref": "#/definitions/AccountNotFoundServiceException"
                        }
                    }
                }
            }
        },
        "/reports/my/volPrice/perMccMnc": {
            "get": {
                "tags": [
                    "Reports API"
                ],
[...]
